<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <!-- Верхняя шапка -->
    <h1>Rick and Morty</h1>
</header>

<section>
    <!-- Блоки с картинками и названиями героев -->
    <div class="container">
        <div class="hero-row">
            <div class="hero">
                <img class="hero-image" th:src="${result.image}" alt="Hero Image">
                <h2 class="hero-name" th:text="${result.name}"></h2>
                <p th:text="${result.status}"></p>
                <p th:text="${result.species}"></p>
                <p th:text="${result.type}"></p>
                <p th:text="${result.gender}"></p>
                <p th:text="${result.created}"></p>
            </div>
        </div>

    </div>

</section>
</body>
</html>